.DS_STORE
.ssh
*.swp
*.log
*.swo
*.local
ssh/
backup
vim/bundle/*/*
oh-my-zsh/*
!oh-my-zsh/.git
!vim/bundle/*/.git
vim/.netrwhist*
vim/swap
*.local
zsh/cache
local.lua
*~
*bookmarks*
auto-save-list
elpa
*#*
tramp
recentf
muttrc.local
mailcap
plugged
autoload
weechat/logs
weechat/script/plugins.xml.gz
weechat/sec.conf
weechat/irc.conf
weechat/perl
weechat/python
weechat/tcl
weechat/lua
weechat/guile
weechat/ruby
weechat/*.log
pwd

emacs.d/custom.el