* {
    border: none;
    border-radius: 0;
    font-family: monospace, "Material Design Icons";
    font-size: 13px;
    min-height: 0;
    color: #000000;
}

tooltip {
  background-color: white;
}

window#waybar {
    background: transparent;
}

#workspaces button,
#network,
#battery,
#tray,
#clock {
    padding: 0 10px;
    background: transparent;
}

#tray {
  padding-right: 15px;
  padding-bottom: 2px;
}

#workspaces button.active {
    text-decoration: underline;
}
